<div id="search">
	<%= image_tag("logo.png",:id => 'logo', :alt => 'Imaginario') %>

	<form id="searchForm" class="form-search">
		<input id="searchBox" type="text" class="input-large" placeholder="Autor / Título / ISBN">
	</form>
</div>

<footer> 
	<%= image_tag("pajarito.png") %> 
	<p class="lead">
		Oye chabal! Si no sabes qué libro leer, quieres saber qué están leyendo tus amiguicos o quizás recomendarle un librico a tu amorsico has iegado al lugar indicado. Además, si quieres mantener toda tu biblioteca de forma virtual puedes hacerlo registrandote en IMAGINARIO. TQM  
	</p>
</footer>


