@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

body {
	/*background: -moz-linear-gradient(#ffffff 0%,#aecce7 100%); /*url('/assets/blue.jpg')*/;
}

#wrapper {
	background: url("/assets/clouds.png") no-repeat fixed center 64px transparent;
	min-height: 100%;
	height: 100%;
}

/* centro */
#wrapper .container {
	background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/assets/sancho.png");
    background-origin: padding-box;
    background-position: 600px -42px;
    background-repeat: no-repeat;
    background-size: 700px auto;
    display: block;
    height: 100%;
    min-height: 100%;
    position: relative;
    width: 95%;
}

#searchBox {
	padding: 10px;
	width: 400px;
}

#dante {
	position: absolute;
	top: 100px;
	right: 100px;
	z-index: 0;
}

#search {
	margin-top: 180px;
	margin-left: 250px;
	text-align: center;
	width: 420px;
}

/* footer */
footer p {
	float: right;
	width: 80%;
	padding: 20px 20px;;
	background: #FFF;
	margin-top: 20px;
	border-radius: 5px;
	text-align: justify;
}

/* signin_signout */
#signin_signout {
	height: 200px;
	overflow: hidden;
	display: none;
}

#signin_signout input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 7px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#signin_signout input[type=submit] {
	width: auto;
}

#signin_signout a.imUser, #signin_signout a.forgot {
	float: right;
	line-height: 36px;
}

#signin {
	margin-bottom: 20px;
}

#signin_signout form {
	margin: 5px 0px 0px 0px;
}

#signin .btn {
	margin-bottom: 8px;
}

#signin h4 {
	float: left;
}

#signin a.newUser {
	float: right;
	line-height: normal;
}

